pkgbase = spitter
	pkgdesc = Self-documenting Cartesia speech CLI with websocket sessions
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/decent-tools-for-thought/spitter
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = ffmpeg
	depends = pipewire
	depends = libpulse
	source = spitter-0.1.0.tar.gz::https://github.com/decent-tools-for-thought/spitter/releases/download/v0.1.0/spitter-0.1.0.tar.gz
	sha256sums = 74b8a2b08d3ee96928a290038af05d1380763b416b16816e480e4b8e825e4b8e

pkgname = spitter
